html, body{
	margin: 0;
	padding: 0;
	height: 100%;
	font-family: Ubuntu, arial, sans-serif;
  word-wrap: break-word;
  word-break: break-word;
}
#wrapper{
	min-height: 100%;
 
	text-align: center;
}
#content{
	display: table;
	margin: 0 auto;
  padding: 0 0 60px;
	width: 800px;
  background: #fff;
  color: #000;
}
#preview{
	position: relative;
	display: inline-block;
	height: 400px;
	width: 400px;
	background: #fff;
}
#profile-pic, #fg{
	width: 100%;
}
#fg{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
}
#fb-set-pic{
  display: table;
  margin: 20px auto;
}

#fb-set-pic{
  background-color: #4267b2;
  border-color: #4267b2;
  color: #fff;
  font-size: 1em;
  border-radius: 10px;
  outline: none;
  padding: 10px 20px;
}

.design{
  height: 100px;
  border: 5px dashed #CCC;
  cursor: pointer;
}
.design.active{
  border: 7px dashed #005d15
}
#comments{
  margin: 20px;
}
@media screen and (max-width: 801px){
	
  #comments{
    margin: 20px 0;
  }
}